@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBlock {
    
    /* background-position: 50% 100%; */
    /* background-size: cover; */
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 100px;
    
    
  }
  .heroBlock .content{
    /* width: 650px; */
    height: 100%;
  }
  .heroBlock .btnHolder{
}
  .heroBlock .container-fluid {
    /* display: block !important; */

  }
  
  .heroBlock .ant-carousel,
  .heroBlock .ant-carousel div {
    
  }
  
  .heroBlock .slick-dots li button {
    background: #000 !important;
  }
  
  .heroBlock .slick-dots li.slick-active button {
    background: #1890ff !important;
  }